body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  letter-spacing: 1px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation {
  z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../images/icons/previous.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../images/icons/next.png);
}

.TitleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -105px;
}

.TitleMessage .heading p {
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.TitleMessage .heading .main {
  font-size: 50px;
  font-weight: 300;
}

.TitleMessage .heading .sub {
  font-size: 25px;
  font-weight: 300;
}

.about_profile {
  padding: 80px 0px;
  background-color: #000000;
}

.aboutImage {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_text {
  background-color: #000000;
  color: #fff;
  margin-top: -1px;
  margin-bottom: -1px;
}

.heading {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
}

.sub_heading {
  padding-top: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.resume {
  text-align: center;
  color: #ffffff;
}

.about_para {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.skillsSection {
  padding: 100px 0;
  background-color: #000000;
  color: #fff;
  margin-bottom: -80px;
}

@media screen and (max-width: 1336px) {
    .TitleMessage .heading .main {
      font-size: 70px;
      margin-top: -12px;
      font-weight: 300;
    }

    .TitleMessage .heading .sub {
        font-size: 35px;
        font-weight: 300;
        position: relative;
      }
  }

@media screen and (max-width: 731px) {
    .TitleMessage .heading .main {
      margin-top: -10px;
      font-size: 30px;
      font-weight: 300;
    }
  }
  
@media screen and (max-width: 628px) {
  .TitleMessage .heading .main {
    font-size: 30px;
    font-weight: 300;
  }
}

@media screen and (max-width: 530px) {
  .TitleMessage .heading .main {
    position: relative;
    top: 45px;
    font-size: 25px;
  }

  .TitleMessage .heading .sub {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: 35px;
  }

  .slides-navigation .prev,
  .slides-navigation .next {
    width: 25px;
    height: 25px;
  }
}

.squareItem {
	margin-top: 60px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .squareContent h2 {
    font-size: 41px;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.squareContent h3 {
	font-size: 12px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}
.statsSection {
  padding-bottom: 100px;
  background-color: #000000;
  color: #fff;
  margin-bottom: -1px;
  margin-top: -4px;
}

.contactSection {
  padding-bottom: 20px;
  background-color: #000000;
  color: #fff;
  margin-bottom: -4px;
  margin-top: -4px;
}

.mailButton, .resumeButton{
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.mailButton:hover, .resumeButton:hover{
  text-decoration: none;
	color: #000000;
	background-color:rgba(255, 255, 255, 0.8);
}

.filter {
	text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.filter ul {
	display: inline-block;
  padding: 5px;
  margin: auto;
  width: 100%;
}

.filter li {
	display: inline-block;
  padding: 5px;
}

.filter a {
	color: #fff;
	border: 1px solid #fff;
  display: block;
  width: 100px;
  line-height: 40px;

}

.filter .current {
	background-color: rgba(255, 255, 255, 0.8);;
	border-color: #fff;
  color: #000000;
}


.filter a:hover {
	background-color: rgba(255, 255, 255, 0.8);;
	border-color: #fff;
  color: #000000;
  text-decoration: none;
}

.statsSection .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
  padding: 5px;
  
}

.itemsContainer {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}


.items li img {
  width: 100%;
  
  -webkit-transition: all 0.3s linear, 1s;
    -ms-transition: all 0.3s linear, 1s;
    -mz-transition: all 0.3s linear, 1s;
    -o-transition: all 0.3s linear, 1s;
    -transition: all 0.3s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	  position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	  color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	  width: 40px;
    height: 40px;
    background-color: #000000;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
	  width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -250px;
}

.items .projectLink {
	float: right;
	right: -250px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

.social{
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.facebook{
  color: #fff;
  padding: 6px;
}

.facebook:hover{
  color: #3b5998;
}

.twitter{
  color: #fff;
  padding: 6px;
}

.twitter:hover{
  color: #55acee;
}

.youtube{
  color: #fff;
  padding: 6px;
}

.youtube:hover{
  color: #cd201f;
}

.linkedin{
  color: #fff;
  padding: 6px;
}

.linkedin:hover{
  color: #0077b5;
}


.github{
  color: #fff;
  padding: 6px;
}

.github:hover{
  color: #00405d;
}

.telegram{
  color: #fff;
  padding: 6px;
}

.telegram:hover{
  color: #00405d;
}

.instagram{
  color: #fff;
  padding: 6px;
}

.instagram:hover{
  color: #3f729b;
}

.line{
  color: #fff;
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  size: 10px;
  border-width: 1px;
}

#navigation {
	background-color: #000000;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
  margin-bottom: -4px;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand{
  color: #fff;
  margin-bottom: 5px;
  margin-left: 8px;
}
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../images/icons/menu.png);
  background-size: 100%;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../images/loader.gif) center center no-repeat;
}

.u-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
}

.skills{
  display: flex;
  flex-direction: column;
  align-self: center
}

.skill{
  margin: 1em 0;
  position: relative;
  width: 50em;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1024px){
  .skill{
    width: 40em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 750px){
  .skill{
    width: 35em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 550px){
  .skill{
    width: 30em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 470px){
  .skill{
    width: 25em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 330px){
  .skill{
    width: 15em;
  }
}

.skill_type{
  color: #fff;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .145em;
  width: 5em;
}

.skill_outerbar, .skill_innerbar{
  height: .75em;
}

.skill_outerbar{
  margin-top: 1em;
  background: #333;

}

.skill_innerbar{
  animation: fillBar 1s forwards;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.skill_innerbar-100{
  width: 100%;
  background: #FF3F3F;
}
.skill_innerbar-90{
  width: 90%;
  background: #EFF317;
}
.skill_innerbar-80{
  width: 80%;
  background: #2DE5CC;
}
.skill_innerbar-70{
  width: 70%;
  background: #FF86E4;
}
.skill_innerbar-60{
  width: 60%;
  background: #1DF79A;
}
.skill_innerbar-50{
  width: 50%;
  background: #84CD9D;
}
.skill_innerbar-40{
  width: 40%;
  background: #FD6400;
}


@keyframes fillBar{
  to {
    transform: scaleX(1);
  }
}