
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../images/icons/previous.png)
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../images/icons/next.png)
}